/* ToggleButton.css */
.toggleBtn {
  width: auto;
  display: flex;
  justify-content: flex-start; /* Aligns button to the left */
  padding: 1rem;
  background-color: #15181B;
  margin: 0 4rem;
  
}

.toggle {
  display: flex;
  gap: 10px;
  border-radius: 50px;
  background-color: #282B30;
   margin-left: 3rem;
}

.toggle button {
  padding: 1rem 3rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #282B30;
  color:white;
  font-size: 1.25rem;
  transition: background-color 0.3s;
}

.toggle button.active {
  background-color: #484E56;
    color: white;
}

/* Medium devices (Tablets, 768px and up) */
@media (min-width: 768px) {
 
}

/* Large devices (Desktops, 1024px and up) */
@media (min-width: 1024px) {
 
}

/* Extra large devices (Large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}
