/* .banner{
   height: 100vh;
   width: 5%;
   margin: 0 auto;
   padding: 0;
   border: 1px solid red;
   background-color: rgb(235, 194, 235);
   display: flex;
   flex-direction: column;
 
align-items: center;
justify-content: center;
}
.banner-sec1{
    transform: rotate(90deg);
    border: 1px solid blue;
    width: 100vh;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
} */
.vertical{
  height: auto;
  /* height: auto; */
  z-index: 100;
  width: 6%;
  margin: 0 auto;
  padding: 0;
  background-color: #B9A0FF;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #B9A0FF;
height: auto;
  justify-content: center;
  /* border: 1px solid blue; */
width: auto;
min-height: 100vh;
  animation: scrollText 10s linear infinite;
}

.vertical-text p {
  margin: 0;
  background-color: #B9A0FF;
  color: black;
  padding: 0;
  transform: rotate(90deg); /* Rotate each text line */
  font-size: 2rem;
  text-align: center;
  /* word-spacing: 1rem; */
  white-space: nowrap;
}
.vertical-text span{
  background-color: #B9A0FF;
  color: black;
  /* font-size: 5.5rem; */
}

@keyframes scrollText {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
/* Medium devices (Tablets, 768px and up) */
@media (min-width: 768px) {
 
}

/* Large devices (Desktops, 1024px and up) */
@media (min-width: 1024px) {
 
}

/* Extra large devices (Large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}